{% extends "base.html" %}

{% block content %}
<div class="hero-unit pull-left">
        <h3>ДЕРЖАВНИЙ РЕЄСТР ОБТЯЖЕНЬ РУХОМОГО МАЙНА</h3>
        <p>Державний реєстр обтяжень рухомого майна (далі - Реєстр) - єдина комп'ютерна база даних про виникнення,
            зміну, припинення обтяжень, а також про звернення стягнення на предмет обтяження (п. 2 Порядку ведення
            Державного реєстру обтяжень рухомого майна, затвердженого постановою Кабінету Міністрів України від 05
            липня 2004 року № 830).</p>
        <p><a href="http://www.informjust.ua/section/registers_15" class="btn btn-primary btn-large">Informjust »</a></p>
      </div>
{% endblock %}