{% extends "index.html"  %}

{% block login %}
<a href="/login">LOGIN WITH GITHUB</a>
{% endblock %}

{% block adder %}
{% endblock %}


{% block content %}
 <table border="1" >
     <tr>

        <td>ID</td>
        <td>Номер заяви</td>
        <td>Дата заяви</td>
        <td>Тип</td>
        <td>Об'єкт</td>
        <td>Особа</td>

        </tr>

{% for enc in objects %}
<tr>

<td>{{ enc.id }}</td>
<td>{{ enc.numberStatement }}</td>
<td>{{ enc.dateStatement }}</td>
<td>{{ enc.type_id }}</td>
<td>{{ enc.object_id }}</td>
<td>{{ enc.person_id }}</td>

</tr>

{% endfor %}
</table>


{% endblock %}